
.backgroundimg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-color: #000000;
  }
  
  .roomtitle {
      color: #DF744A;
      text-align: center;
      
      margin: 0px;
  }

  .colborder {
        border-right: solid 1px #DF744A;
  }

  .roomtype {
      position: relative;
      top: 80px;
  }